@page "/pagamentos/details"

<PageTitle>Detalhes do Pagamento</PageTitle>

<h1>Detalhes do Pagamento</h1>
<hr />

<div>
    @if (Pagamento is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {

        <EditForm Model="Pagamento">
            <MudCard>
                <MudCardContent>
                    <MudText><b>Data Pagamento: </b>@Pagamento.DataPagamento?.ToString("dd/MM/yyyy")</MudText>
                    <MudDivider />
                    <MudText><b>Fornecedor: </b>@Pagamento.Fornecedor!.Nome</MudText>
                    <MudDivider />
                    <MudText><b>Valor Pagar: </b>@Pagamento.ValorPagar.ToString("N2")</MudText>
                    <MudDivider />
                    <MudText><b>Valor Pago: </b>@Pagamento.ValorPago.ToString("N2")</MudText>
                    <MudDivider />
                    <MudText><b>Débito Automático?: </b>@(@Pagamento.DebitoAutomatico == true ? "Sim" : "Não")</MudText>
                    <MudDivider />
                    <MudText><b>Conta já foi paga?: </b>@(@Pagamento.EstaPago == true ? "Sim" : "Não")</MudText>
                    <MudDivider />
                </MudCardContent>
                <MudCardActions>
                    <MudButton HRef="@($"/pagamentos/edit?id={Pagamento.PagamentoId}")" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary">Editar</MudButton> 
                    <MudButton ButtonType="ButtonType.Button" OnClick="NavigateToIndexPagamento" Variant="Variant.Outlined" Color="Color.Secondary" Class="ml-auto">Retornar</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    }
</div>

@code {
    Pagamento? Pagamento;

    [SupplyParameterFromQuery]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        Pagamento = await pagamentoRepositorio.GetPagamentoComFornecedorAsync(id);

        if (Pagamento is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public void NavigateToIndexPagamento()
    {
        NavigationManager.NavigateTo("/pagamentos");
    }
}
